version: 2.1

orbs:
  python: circleci/python@2.1.1 # orb version 2.1.1 for Python support
  slack: circleci/slack@3.4.2 # Use v3 for Webhook support

jobs:
  # This job is dedicated to static type checking using Pyright.
  type-check:
    docker:
      - image: cimg/python:3.12 # Fast docker executor for static analysis
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - run:
          name: Install Pyright
          # 'pyright[nodejs]' is the most reliable way to install via pip
          command: pip install "pyright[nodejs]"
      - run:
          name: Run Pyright
          command: pyright

  playwright-tests:
    docker:
      - image: mcr.microsoft.com/playwright/python:v1.58.0-jammy  # Python 3.12 +

    resource_class: large

    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: requirements.txt

      - run:
          name: Install Allure
          command: |
            ALLURE_VERSION="2.24.0"
            curl -L -o allure.tgz "https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure-${ALLURE_VERSION}.tgz"
            tar -xzf allure.tgz
            mv allure-${ALLURE_VERSION} /opt/allure
            ln -s /opt/allure/bin/allure /usr/bin/allure

      - run:
          name: Run Playwright Tests
          command: |
            python3 -m pytest --alluredir=allure-results \
                   --screenshot=only-on-failure \
                   --video=retain-on-failure \
                   --tracing=retain-on-failure
          when: always

      - run:
          name: Generate Allure Report
          command: allure generate allure-results -o allure-report --clean
          when: always

      - store_test_results:
          path: allure-results
      - store_artifacts:
          path: allure-report

      # Send notification based on job status
      - slack/status:
          fail_only: false
          webhook: "${SLACK_WEBHOOK}"
#          only_for_branches: main
          success_message: "Tests Passed! View Report: https://output.circle-artifacts.com/output/job/${CIRCLE_WORKFLOW_JOB_ID}/artifacts/0/allure-report/index.html"
          failure_message: "Tests Failed! View Report: https://output.circle-artifacts.com/output/job/${CIRCLE_WORKFLOW_JOB_ID}/artifacts/0/allure-report/index.html"
          mentions: "here"

  postman-api-tests:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run:
          name: Install Postman CLI
          command: |
            curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - run:
          name: Login using your API key
          # don't forget to set POSTMAN_API_KEY in CircleCI project settings
          command: postman login --with-api-key $POSTMAN_API_KEY
      - run: |
            postman collection run "8893549-0680ce09-fa22-412c-9889-3da341be4cb9" --env-var "baseURL=https://api.practicesoftwaretesting.com"

workflows:
  playwright-full-workflow:
    jobs:
      - type-check
      - playwright-tests:
          requires:
            - type-check
      - postman-api-tests
